/** @format */

input {
	border: 0;
	font: inherit;
	margin: 0;
	padding: 0;
}

.search {
	font-size: 1.5rem;
	margin: 1.5em auto 3em;
	max-width: 85%;
	margin-left: 3px;
}

.search [type="search"] {
	background-color: #131b20;
	color: #fff;
	padding: 0.5em 2em;
	text-align: center;
	width: 100%;
}
